################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrencyConverter/bin/Debug/net8.0/runtimes/win/lib/net8.0
/CurrencyConverter/bin/Debug/net8.0
/CurrencyConverter/logs
/CurrencyConverter/obj
/CurrencyConverter.Application/bin/Debug/net8.0
/CurrencyConverter.Application/obj/Debug/net8.0
/CurrencyConverter.Application/obj/Release/net8.0
/CurrencyConverter.Infrastructure/bin/Debug/net8.0
/CurrencyConverter.Infrastructure/obj
/CurrencyExchange.Test/obj
/CurrencyExchange.Test/bin/Debug/net8.0
/CurrencyExchange.Test/bin/Release/net8.0
/CurrencyConverter.Application/obj
/CurrencyExchange/bin/Debug/net8.0
/CurrencyExchange/logs
/CurrencyExchange/obj
/CurrencyExchange.Application/obj
/CurrencyExchange.Infrastructure/bin/Debug/net8.0
/CurrencyExchange.Infrastructure/obj
/CurrencyExchange.Application/bin/Debug/net8.0
/CurrencyConverter.Test/bin
/CurrencyConverter.Test/obj
